<%= simple_form_for @locality, :html=> { class: 'form-horizontal' }  do |f| %>
 <% if @locality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locality.errors.count, "error") %>  durante la Inserción de la Localidad. Revisar:</h2>
        <ul>
      <% @locality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div class="form-row col-md-12">
                <div class="form-input">
                    <div class="row">
                        <div class="col-md-3">
                               <%= f.input :municipio, collection: ['Antolin del Campo', 'Arismendi', 'Diaz', 'Garcia', 'Gomez', 'Maneiro', 'Marcano', 'Mariño', 'Peninsula de Macanao', 'Tubores', 'Villalba'],  prompt: 'Seleccione el municipio' %>
                        </div>
                        <div class="col-md-3">
                              <%= f.input :sector, :placeholder=>'Sector' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row col-md-12">
                    <div class="form-input">
                        <div class="row">
                            <div class="col-md-3">
                                  <%= f.label :fecha%>
                                  <%= f.date_field :fecha%>
                            </div>
                            <div class="col-md-3">
                              <%= f.label :activo%>
                                    <%= f.input :activo, label: false %>
                            </div>
                        </div>
                    </div>
                </div>
  <button type="submit" class="btn primary-bg medium">
    Guardar
  </button>
<% end %>
