<div id="page-title">
  <h3>
    Listado de Localidades
  </h3>
</div>
<!-- #page-title -->
<p id="notice"><%= notice %></p>
<div class="form-row col-md-12">
  <div class="form-label col-md-4"></div>
  <div class="form-input">
    <div class="row">
      <div class="col-md-4">
        <%= form_tag(localities_path, :method => "get", id: "search-form", :html=> { class: 'form-horizontal' })do %>
        <%= text_field_tag :search, params[:search], placeholder: "Introduzca la localidad" %>
        <%= submit_tag "Buscar" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to  new_locality_path,:class=> "btn medium bg-blue" do %>
<span class="button-content text-transform-upr font-bold font-size-11">Nueva Localidad
</span>
<% end -%>
<div class="divider"></div>
<% if @localities.present? %>
<div class="example-box">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th class="text-center">Fecha</th>
        <th class="text-center">Municipio</th>
        <th class="text-center">Sector</th>
        <th class="text-center">Activo</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @localities.each do |locality| %>
      <tr class="odd gradeX">
        <td><%= locality.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= locality.municipio %></td>
        <td><%= locality.sector %></td>
        <td><%if locality.activo %>
            <span class="fa fa-check"></span>
            <%else%>
            <span class="fa fa-remove"></span>
            <%end%></td>
        <td >
          <%= link_to edit_locality_path(locality) do%>
          <i class="glyph-icon icon-edit mrg5R"></i>
          Editar |
          <% end -%>
          <%= link_to  locality, method: :delete, data: { confirm: '¿Está seguro de eliminar la localidad?' } do%>
          <i class="glyph-icon icon-remove mrg5R"></i>Borrar
          <% end -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No hay localidad(es) con este criterio de búsqueda:
    <%= params[:search] %>.</p>
  <% end -%>
  <br>
  <%= paginate @localities %>
</div>
