<div class="nested-fields">
        <div class="form-row col-md-12">
                <div class="form-input">
                    <div class="row">
                      <div class="col-md-2">
                        <%= f.input :cedula%>
                      </div>
                        <div class="col-md-2">
                          <%= f.input :nombre%>
                        </div>
                        <div class="col-md-2">
                         <%= f.input :apellido%>
                        </div>
                        <div class="col-md-2">
                          <div class="bfh-datepicker">
                           <%= f.input :fecha_nac,  as: :date, html5: true, label: 'Fecha de Nacimiento'%>
                          </div>
                        </div>
                        <div class="col-md-2">
                         <%= f.input :parentesco, collection: ['Padre','Madre', 'Hermano(a)','Abuelo(a)', 'Tio(a)','Primo(a)', 'Hijo(a)','Sobrino(a)','Nieto(a)','Esposo(a)', 'Yerno(a)', 'Suegro(a)', 'Cuñado(a)','Concubino(a)'], label: "Parentesco",  prompt: 'Seleccione el parentesco'%>
                        </div>
                    </div>
                </div>
 </div>
 <div class="">
   <%= link_to_remove_association  f,  :class=> "btn medium bg-red" do%>
     <span class="button-content text-transform-upr font-bold font-size-11">Remover Familiar</span>
   <%end %>
 </div>
</div>
