<%= notice %>
<div class="page-header">
  <h1>
    <i class="fa fa-user"></i>
    <%=  @persona.nombre1.capitalize+' '+@persona.nombre2.capitalize+' '+@persona.apellido1.capitalize+' '+@persona.apellido2.capitalize%>
  </h1>
</div>
<div class="divider"></div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false">
          <i class="fa fa-user"></i>
          Perfil</li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">cédula</strong>
          </span>
          <%= @persona.cedula %>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Sexo</strong>
          </span>
          <%= @persona.sexo %>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">¿Es madre soltera?</strong>
          </span>
          <%= @persona.madre_soltera %></br>
      </li>
      <li class="list-group-item text-right">
        <span class="pull-left">
          <strong class="">Fecha de Nacimiento</strong>
        </span>
        <%= @persona.fecha_nac %></br>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Dirección</strong>
      </span>
      <%= @persona.direccion %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Teléfono Principal</strong>
      </span>
      <%= @persona.telefono1 %><br>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Otro Teléfono</strong>
      </span>
      <%= @persona.telefono2%>
    </li>
  </ul>
</div>
</div>
<div class="divider"></div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
  <ul class="list-group">
    <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-users"></i>
      Familiares</li>
    <% if !@persona.families.blank?%>
    <br>
    <li>
      <table class="table table-hover table-condensed text-center">
        <thead>
          <tr>
            <th class="text-center">Cédula</th>
            <th class="text-center">Nombre Completo</th>
            <th class="text-center">Parentesco</th>
            <th class="text-center">Fecha de Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <% @persona.families.each do |familiar|%>
          <tr>
            <td><%=familiar.cedula%></td>
            <td class="text-capitalize"><%="#{familiar.nombre} #{familiar.apellido}"%></td>
            <td><%=familiar.parentesco%></td>
            <td><%=familiar.fecha_nac.strftime("%d-%m-%Y")%></td>
          </tr>
          <%end%>
          <%else%>
          <p class="text-center">No hay familiares</p>
          <%end%>
        </tbody>
      </table>
    </li>
  </ul>
</div>
</div>
<div class="divider"></div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
  <!--left col-->
  <ul class="list-group">
    <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-database"></i>
      Datos Socio-económicos</li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Número de discapacitados</strong>
      </span>
      <%= @persona.economy.discapacitados %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">¿Hay personas enfermas?</strong>
      </span>
      <%= @persona.economy.enfermos %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">¿Compran CLAP?</strong>
      </span>
      <%= @persona.economy.cant_hijos %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Número de adultos mayores</strong>
      </span>
      <%= @persona.economy.adultos_mayores %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Número de hijos</strong>
      </span>
      <%= @persona.economy.cant_hijos %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Descripción de la Visita</strong>
      </span>
      <%= @persona.economy.descripcion %>
    </li>
  </ul>
</div>
</div>
<div class="divider"></div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
  <!--left col-->
  <ul class="list-group">
    <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-paper-plane"></i>
      Solicitud de ayudas</li>
    <br>
    <li>
      <% if !@persona.conclusions.blank? %>
      <table class="table table-hover table-condensed text-center">
        <thead>
          <tr>
            <th class="text-center">Ayuda</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody>
          <% @persona.conclusions.each do |ayuda|%>
          <tr>
            <td><%=ayuda.ayuda_id%></td>
            <td><%=ayuda.estado%></td>
          </tr>
          <%end%>
          <%else%>
          <p class="text-center">No hay solicitudes de ayuda</p>
          <%end%>
        </tbody>
      </table>
    </li>
  </ul>
</div>
</div>
</div>
<div class="col-md-3">
<%= link_to 'Editar', edit_persona_path(@persona), class:'btn primary-bg medium' %>

<%= link_to 'Regresar', personas_path, class:'btn primary-bg medium' %>

<%= link_to  'Nueva Persona', new_persona_path, class:'btn primary-bg medium'%>
</div>
